<nav>
    <ul>
        <li>
            <a href="/" <% if (current=='/' ) { %> class="active" <% } %>>Home</a>
        </li>
        <li>
            <a href="/stories" <% if (current=='/stories' ) { %> class="active"<% } %>>Stories</a>
        </li>
        <li>
            <a href="/playlists" <% if (current=='/playlists' ) { %> class="active"<% } %>>Playlists</a>
        </li>
    </ul>
</nav>