<%- include('./partials/head') %>
    <header>
        <%- include('partials/nav', {current: '/' }); %>
    </header>

    <div class="loader"></div>

    <img src="/assets/percy-penguin.svg" alt="Percy the Penguin" width="250">

    <%- include('./partials/foot') %>