<main>
    <% playlist.forEach(item=> { %>


                <% if (item.image) { %><img src="https://fdnd-agency.directus.app/assets/<%= item.image %>"
                        alt="playlist cover image" width="300" height="300">
                    <% } else { %>
                        <img src="/assets/empty-cover" alt="cover image" loading="lazy" width="300" height="300">
                        <% } %>

                            <h1>
                                <%= item.title %>
                            </h1>

                            <p>
                                <%= item.description %>
                            </p>

                            <% }) %>
</main>